/******* Promo *******/
.promo {
    background: #151515;
    height: 335px;
}
.gallery-list{
	@extend .clean-list;
	width: 3000px;
}
.gallery-item{
	display: none;
	float: left;
	&:first-child{
		display: block;
	}
}
/******* // Promo *******/

/******* CONTENT *******/

.heading{
	margin: 0 0 20px;
	color: #000;
	font: bold 24px/1.3 Georgia, Times, "Times New Roman", serif;
	text-align: center;
}
hr{
	height: 1px;
	width: 100%;
	display: block;
	background: #e5e5e5;
	box-shadow: 0px 3px 25px 1px rgba(195, 195, 195, 0.81), 0px 1px 0px 1px #fff;
}

.features-list{
	@extend .clean-list;
	overflow: hidden;
	margin: 0 -10px;
	color: #3e3e3e;
}
.feature-item{
	float: left;
	width: 31.2%;
	margin: 0 10px;
}
.feture-item-title{
	margin: 0;
	color: #11719e;
	font: 21px/1.3 Georgia, Times, "Times New Roman", serif;
}
.feature-item-notice{
	color: #8c8c8c;
	font-size: 12px;
}
 .feature-pic-hold{
 	@extend .img-container;
 	background: #f3f3f3;
 	padding: 7px;
 	border-radius: 4px;
 	box-shadow: 0 0 2px #333;
 }

.main-parts{
} 
.main-parts-list{
	@extend .clean-list;
	display: table;
	width: 100%;
	table-layout: fixed;
	color: #444444;
	font: 12px/1.3 Tahoma, serif;
}
.main-parts-col{
	display: table-cell;
	width: 33%;
	vertical-align: top;
}
.main-part-title{
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px dashed #d3d3d3;
	color: inherit;
	font: 18px/1.3 Georgia, Times, "Times New Roman", serif;
}
/******* // CONTENT *******/